.navbar-header{
    position: relative;
}
#mobile-menu-btn {
    font-size: 30px;
    color: #f4c613;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
    display: none;
}

#mobile-menu{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255,255,255,.9);
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    overflow: hidden;
}


#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .5s;
    transition: .5s;
}


#mobile-menu .mobile-menu-content ul{
    text-align: center;
    width: 100%;
    margin-top: 80px;
}

.mobile-menu-content ul li {
    margin-bottom: 8px;
}

.mobile-menu-content a {
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
    
}

#mobile-menu a:hover,
#mobile-nav-close-btn:hover{
    color: #f4c613; 
    background: none;
    
}




.white-nav-top .mobile-menu-content ul.nav>li.active>a {
    color: #f4c613;
    font-weight: 500;
}
























/*large device ma nav no j pro hato */

@media (min-width:1200px) and (max-width:1250px){
    .collapse .nav{
        padding-right: 100px;
    }
}

@media (min-width:1250px) and (max-width:1300px){
    .collapse .nav{
        padding-right: 80px;
    }
}










/* meduim size device mate */

@media (min-width:992px) and (max-width:1199px){
    
    
    .navbar-brand {
    padding: 13px 0;
    }
    
    #home-content-inner h1{
        font-size: 60px;
    }
    
    #home-text p{
        font-size: 12px;
    }
    
    .tab-bg{
        padding: 40px 25px;
        min-height: 399px;
    }
    
    .service-tab h3{
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .service-tab p {
    line-height: 20px;
    margin-bottom: 30px;
    line-height: 20px;
    }
    
    .client-list{
    padding: 20px 20px 0 20px; 
    }
    
    #review .vertical-heading h2{
        font-size: 32px;
    }
    
    #blog .bottom-blog p{
        font-size: 8px;
        line-height: 20px;
    }
}

@media (min-width:992px) and (max-width:1030px){
    .collapse .nav{
        padding-right: 120px;
    }
}
@media (min-width:1031px) and (max-width:1060px){
    .collapse .nav{
        padding-right: 100px;
    }
}
  
@media (min-width:1061px) and (max-width:1120px){
    .collapse .nav{
        padding-right: 40px;
    }
}
    
@media (min-width:1121px) and (max-width:1199px){
    .collapse .nav{
        padding-right: 10px;
    }
}












/*small device */

@media (min-width:768px) and (max-width:991px){
     .items-nav{
        padding: 0;
    }
    
     #home-content-inner h1{
        font-size: 55px;
    }
    
    #home-text p{
        font-size: 11px;
    }
    
    .btn-general {
    font-family:'Montserrat', sans-serif; 
    border-radius: 20px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 10px 40px 10px 40px;
    -webkit-transition: all .5s; transition: all .5s; 
    }
    
    .vertical-heading h2 {
        font-size: 29px;
    }
    
    #statment h3{
        font-size: 18px;
        line-height: 24px;
    }
    
    .r-tabs-accordion-title{
        text-align: center;
        display: inline-block;
    }
    
    
    .tab-bg{
        padding: 20px 20px;
        min-height: 300px;
    }
    
    .service-tab h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .service-tab p {
        font-size: 11px;
    line-height: 16px;
    margin-bottom: 25px;
    line-height: 20px;
    }
    
    .btn-service{
        margin: 0;
    }
    
    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: none;
    }
    
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #f4c613;
        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 5px;
        -webkit-transition: border-color 300ms linear;
        transition: border-color 300ms linear;
    }
    
    .service-tab{
        margin-top: 15px;
    }
    
   #portfolio {
    padding-bottom: 100px;
    }
    
    .client-list{
    padding: 20px 30px 0 30px; 
    }
    
   .client-bottom h1{
    margin-bottom: 0;
    }
    
    #client .horizontal-heading{
    margin-bottom: 50px;
    }
    
    #blog .bottom-blog p{
    font-size: 7px;
    line-height: 18px;
    font-weight: 500;
    }
    
    #blog .bottom-blog h5{
    font-size: 7px;
    line-height: 18px;
    font-weight: 500;
    }
    
   
}




/*  extra small all mobile  */

@media (max-width:767px){
    
    #mobile-menu-btn {
        display: block;
    }
    
    .items-nav,
    .white-nav-top {
        padding: 0;
    }
    .navbar{
        padding: 5px 0;
    }
    
     #home-content-inner h1{
        font-size: 22px;
    }
    
    #home-text p{
       font-size: 12px;
        line-height: 18px;
        margin: 8px 15px 30px 15px;
    }
    
    .btn-general {
        padding: 8px 25px 6px 25px;
        font-size: 10px;
    }
    
    .vertical-heading {
        text-align: center;
    }
    .vertical-heading h5 {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        display: block;
        position: static;
        margin-bottom: 15px;
    }
    .vertical-heading h2 {
        font-size: 29px;
        line-height: normal;
        margin: 0;
    }
    
    .content-box-lg{
        padding: 60px 0;
    }
    
    .content-box-md{
        padding: 50px 0;
    }
    
    #about-left{
        margin-bottom: 30px;
    }
    
    .about-story{
        text-align: center;
    }
    .about-story p{
        padding: 0 15px;
    }
    
    .about-2-inner i{
    font-size: 30px;
    }
    
    .about-2-inner h1{
    font-size: 20px;
    }
    
    .about-2-inner{
        padding: 40px 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .team-par p{
        text-align: center;
        margin-top: 15px;
        margin-bottom:20px;
        padding: 0 15px;
        }
    .skill{
        padding: 0 12px;
    }
    .skill h4{
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        margin-bottom: 10px;
    }
    
    .progress-bar span{
    color:white;
    font-family:'Montserrat', sans-serif;  
    font-size: 12px;
    background-color: black;
    padding:4px 6px;
    font-weight: 600;
    position: absolute;
    left: 95%;
    top: -48px;
    }
    
    .progress-bar span:before{
    content: "";
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: 25px;
    left: 23.5%
    }
    
    .progress{
    height: 24px;
    border-radius:4px;
    background: #efefef;
    overflow: visible;
    }
    .progress-bar{
        border-radius: 4px;
    }
    
    #statment h3{
        font-size: 16px;
        line-height: 25px;
        padding: 0 30px;
    }
    
    #service .horizontal-heading{
    margin-bottom: 0;
    }
    
    .service{
        text-align: center;
        margin: 20px 0;
    }
    
    .service .service-icon{
        text-align: center;
    }
    
    .service .service-icon i{
        margin-bottom: 5px;
    }
    
    
    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: none;
    }
    
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #f4c613;
        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 5px;
        -webkit-transition: border-color 300ms linear;
        transition: border-color 300ms linear;
    }
    .r-tabs-accordion-title{
        text-align: center;
        display: inline-block;
        margin-bottom: 10px;
        
    }
    .service-tab h3{
        font-size: 28px;
        margin-bottom: 15px;
    }
    
    .tab-bg{
        padding: 35px 20px;
    }
    
    .tab-bg{
        min-height: 360px;
    }
    
    
    #services-tabs .tab-bg{
        text-align: center;
    }
    .service p{
        padding: 0 25px;
    }
    
    #portfolio{
        padding-bottom: 0;
    }
    #portfolio .vertical-heading{
        padding-top: 20px;
    }
    
    #isotope-filters button{
        padding-right: 15px;
        font-size: 10px;
    }
   
    .client-list{
    padding: 15px 15px 0 15px; 
    color: white;
    }
    
    .client-list h5{
    font-size: 22px;
    }
    
    .client-list .icon{
    font-size: 15px;
    }
    .client-bottom img{
        width: 80px !important;
    }
    .client-bottom h1{
        margin-bottom: 0;
    }
    #review .vertical-heading{
        margin-bottom: 80px;
    }
    
    #price .horizontal-heading h2{
        font-size: 26px;
    }
    
    #price .list{
        margin-bottom: 20px;
        padding: 25px 5px;  
    }
    
    #price .list i{
        font-size: 30px;
    }
    
    #price .list h3{
    font-size: 24px;
    }
    
    #price .col-xs-6:nth-child(1){
        padding: 0 10px 0 20px;
    }
    
    #price .col-xs-6:nth-child(3){
        padding: 0 10px 0 20px;
    }
    
    #price .col-xs-6:nth-child(2),
    #price .col-xs-6:nth-child(4){
        padding: 0 20px 0 10px;
    }
    
    #client .horizontal-heading h2{
        font-size: 26px;
    }
    
    #client .horizontal-heading{
        margin-bottom: 25px;
    }
    
     #blog .vertical-heading h5 {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        display: block;
        position: static;
        margin-bottom: 15px;
    }
    #blog .vertical-heading h2 {
        font-size: 29px;
        line-height: normal;
        margin: 0;
    }
    
    #blog .par p{
        text-align: center;
    }
        
    .left-side{
        text-align: center;
        margin-bottom: 30px;
    }
    
    #blog .blog-details{
        margin-bottom: 25px;
    }
    
    #blog .bottom-blog p{
    font-size: 11px;
    }
    
    form{
        padding: 0 15px;
    }
    
    .form-group{
        margin-bottom: 20px;
    }
    
    .contact-info{
        margin-bottom: 35px;
    }
    
}
    
    








@media (max-width:767px){
    #isotope-filters button{
        padding-right: 12px;
        font-size: 9px;
    }
    
}

@media (max-width:365px){
    .client-bottom h2{
    font-size: 16px;
    }
    
}

@media (max-width:300px){
    
    .client-bottom h2{
    font-size: 14px;
    }
    
    #blog .bottom-blog p{
    font-size: 8px;
    }
    
    .client-list .icon{
    font-size: 12px;
    }
    
    .client-list p{
        font-size: 12px;
        line-height: 18px;
    }
    
}   

    
    
    











    
    
    
    
    
    
    
